section {
    background-color: black;
    color: whitesmoke;
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.faq-header {
    text-align: center;
    font-size: 4.2rem;
    margin: 4rem 0;
}
.faqs {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ques {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.questions {
    margin-top: 10px;
    padding: 2rem 3rem 2rem 3rem;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}
.answers {
    background-color: #333333;
    margin-top: 5px;
    padding: 0rem 0rem 0rem 3rem;
}
.answers h1 {
    padding: 2rem 0;
}
.emailaddr {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5rem;
    text-align: center;
    align-items: center;
}
.emailaddr h2 {
    margin-bottom: 3rem;
    font-size: 2.6rem;
    max-width: 90%;
}
button {
    background-color: #df4759;
}
button:hover {
    background-color: red;
}

@media only screen and (min-width: 1200px) {
    .faq-cont {
        padding: 0 10rem;
    }
}
