.footer{
    background-color: black;
    color: grey;
    padding:10rem;
}
.footer-content{
    padding:3rem;
    min-width: 50vw;
}
ul li{
    font-size: 1.5rem;
    list-style: none;
    line-height: 2.5rem;
}
.footer-content h3{
    padding-left: 5rem;
    margin-bottom: 3rem;
    display: inline-block;
}
.col1,.col2,.col3,.col4{
    padding: 0 4rem ;
}