.main-page {
    height: 80vh;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.7)
        ),
        url("../Images/netflix-main-page.jpg");
}

.title h1 {
    color: aliceblue;
    font-size: 4rem;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}
.title h3,
h5 {
    color: aliceblue;
    text-align: center;
    margin: 1rem 0rem;
}
form {
    width: 800px !important;
    margin: 2rem 0;
}
.email input {
    height: 7vh;
    width: 65%;
}
.email button {
    height: 7vh;
    width: 35%;
    border: none;
    color: aliceblue;
}
