$color:white;
@mixin flex-properties {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.main-page {
    height: 80vh;
    color: $color;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.7)
        ),
        url("../Images/netflix-main-page.jpg");
}
.main-content h1 {
    font-size: 5.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.main-container h2 {
    font-size: 2.7rem;
    margin-bottom: 2rem;

}
.main-container h5 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    text-align: center;
}

form {
    width: 100%;
    font-size: 2rem;
}
.email input {
    height: 6rem;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.email button {
    border: none;
    height: 6rem;
    color: $color;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #df4759;
}
button:hover {
    background-color: red;
}
@media screen and (max-width: 755px) and (min-width: 220px) {
    .main-content h1 {
        font-size: 4.5rem;
    }
    .main-container h2 {
        font-size: 3rem;
    }
    .main-container h5 {
        font-size: 2rem;
        text-align: center;
    }
    .email {
        @include flex-properties;
    }
    .email button {
        margin-top: 2rem;
        text-align: center;
        display: inline-block;
        border-radius: 5px;
    }
    .email input {
        border-radius: 5px;
    }
    .main-page{height:70vh}
}
