body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

$color: "white";

@media only screen and (min-width: 1251px) {
    html {
        font-size: 62.5%;
    }
}
@media only screen and (max-width: 1250px) {
    html {
        font-size: 58%;
    }
}
@media only screen and (max-width: 992px) {
    html {
        font-size: 55%;
    }
}
@media only screen and (max-width: 552px) {
    html {
        font-size: 43%;
    }
}
